.editor {
    position: relative;
    width: 100%;
    max-width: 690px;
}

.buttons {
    width: inherit;
    max-width: inherit;
    position: fixed;
    bottom: 50px;
    background-color: white;
    margin: auto;
    min-height: 50px;
}

.item {
    margin-bottom: 20px;
}