.result {
    position: relative;
    width: 100%;
    max-width: 690px;
}

.item {
    margin-bottom: 20px;
}

.text {
    color: white;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
}