.result {
    position: relative;
    width: 100%;
    max-width: 690px;
}

.item {
    margin-bottom: 20px;
    color: white;
}

.text {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    white-space: pre-wrap;
    word-break: break-all;
}

.title {
    word-break: break-all;
    font-size: 28px;
    font-weight: 700;
}
.subtitle {
    word-break: break-all;
    font-size: 16px;
    font-weight: 500;
}
.marked {
    word-break: break-all;

}