* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

table {
    color: black;
    min-width: 80%;
}

th {
    padding: 10px;
    background-color: #F5F5F5;
}

td {
    padding: 10px;
    background-color: transparent;
}

tr {
    background-color: #E1E1E1;
    &:nth-child(2n) {
        background-color: #F5F5F5;
    }
}
a {
    color: white;
}


